<td class="py-2 px-4"><%= order.user.username %></td>
<td class="py-2 px-4">
  <ul class="list-disc pl-5">
    <% order.order_items.each do |item| %>
      <li>
        <%= item.quantity %> x <%= item.product.name %> 
        - <%= convert_currency item.product.price %>
      </li>
    <% end %>
  </ul>
</td>
<td class="py-2 px-4"><%=  order.total_invoice %></td>
<td class="py-2 px-4"><%= order.payment_method&.payment_method || "N/A" %></td>
