<table class="min-w-full bg-white border border-gray-200">
  <thead>
    <tr class="bg-gray-100 border-b">
      <th class="py-2 px-4 text-left"><%= t "orders.table.customer_name" %></th>
      <th class="py-2 px-4 text-left"><%= t "orders.table.products" %></th>
      <th class="py-2 px-4 text-left"><%= t "orders.table.total" %></th>
      <th class="py-2 px-4 text-left"><%= t "orders.table.payment_method" %></th>
      <th class="py-2 px-4 text-left"><%= t "orders.table.actions" %></th>
      <th class="py-2 px-4 text-left"><%= t "orders.table.acept" %></th>
    </tr>
  </thead>
  <tbody>
    <% if orders.empty? %>
      <tr>
        <td colspan="6" class="py-4 px-4 text-center text-gray-500"><%= t "orders.table.no_orders_found" %></td>
      </tr>
    <% else %>
      <%= render partial: "order_item", collection: orders, as: :order %>
    <% end %>
  </tbody>
</table>
