<div class="bg-gray-50 shadow-lg rounded-lg p-6 mb-8">
  <h1 class="text-3xl font-extrabold text-green-600 mb-6"><%= t "orders.title" %></h1>
  <nav class="mb-6">
    <ul class="flex space-x-4">
      <li>
        <%= link_to t("orders.failed"), orders_path(status: :failed), class: "bg-red-200 text-red-800 hover:bg-red-600 hover:text-white font-semibold py-2 px-4 rounded transition-colors duration-200" %>
      </li>
      <li>
        <%= link_to t("orders.rejected"), orders_path(status: :rejected), class: "bg-red-200 text-red-800 hover:bg-red-600 hover:text-white font-semibold py-2 px-4 rounded transition-colors duration-200" %>
      </li>
      <li>
        <%= link_to t("orders.succeeded"), orders_path(status: :succeeded), class: "bg-green-200 text-green-800 hover:bg-green-600 hover:text-white font-semibold py-2 px-4 rounded transition-colors duration-200" %>
      </li>
      <li>
        <%= link_to t("orders.confirming"), orders_path(status: :confirming), class: "bg-yellow-200 text-yellow-800 hover:bg-yellow-600 hover:text-white font-semibold py-2 px-4 rounded transition-colors duration-200" %>
      </li>
    </ul>
  </nav>
  <div class="bg-white shadow-md rounded-lg p-6">
    <%= render partial: "orders_table", locals: { orders: @orders } %>
  </div>
</div>
