<%= form_for @order, url: orders_path do |f| %>
  <div class="flex">
    <div class="address-payment p-12 w-1/2 min-h-screen">
      <h1 class="text-xl font-semibold mb-4">Thông tin nhận hàng</h1>
      <%= f.fields_for :address do |a| %>
        <%= a.hidden_field :user_id, value: current_user.id %>
        <div class="mb-5">
          <%= a.label :name, t("order.recipient_name"), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= a.text_field :name, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="mb-5">
          <%= a.label :phone, t("order.phone_number"), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= a.text_field :phone, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="mb-5">
          <%= a.label :address, t("order.address"), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= a.text_field :address, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
      <% end %>
      <div class="payment pt-6">
        <h1 class="text-xl font-semibold mb-4"><%= t "order.payment_info" %></h1>
        <%= f.fields_for :payment_method do |p| %>
          <div class="mb-5">
            <label for="payment_method" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t "order.payment_method" %></label>
            <%= p.select :payment_method, payment_method_options, {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="bg-white p-12 rounded-lg shadow-lg w-1/2 cart-items-list">
      <h1 class="text-xl font-semibold mb-4"><%= t "order.order" %> (<%= @cart_items.count %> <%= t "order.product" %>)</h1>
      <div class="space-y-4">
        <% @cart_items.each do |item| %>
          <%= render partial: "cart_item", locals: { item: item, f: f } %>
        <% end %>
      </div>
      <% subtotal = total_cart_amount(@cart_items) %>
      <%= f.hidden_field :total_invoice_cents, value: subtotal %>
      <%= f.hidden_field :total_invoice_currency, value: I18n.locale == :en ? "USD" : "VND" %>
      <div class="mt-4 border-t pt-4">
        <div class="flex justify-between items-center">
          <span class="text-lg font-semibold"><%= t "order.total" %></span>
          <span class="text-lg font-semibold text-red-600">
            <%= convert_currency subtotal %>
          </span>
        </div>
      </div>
      <div class="flex justify-between mt-6">
        <%= link_to carts_path, class: "text-green-700 flex items-center space-x-1" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
          <span><%= t "order.back_to_cart" %></span>
        <% end %>
        <%= f.submit t("order.place_order"), class: "bg-green-700 hover:bg-orange-400 text-white py-2 px-6 rounded-full text-sm font-semibold" %>
      </div>
    </div>
  </div>
<% end %>
