<% @cart_items.each do |cart_item| %>
  <tr class="border-b min-h-12 py-3"
    id="<%= cart_item.id %>" 
    data-cart-item-id="<%= cart_item.id %>"
  >
    <td class="py-4 px-4">
      <div class="flex items-center">
        <div>
          <%= link_to product_path(cart_item.product) do %>
            <p class="font-medium text-sm"><%= cart_item.product.name %></p>
          <% end %>
          <%= link_to t("delete.delete"), cart_item, class: "text-red-500 text-xs", data: { "turbo-method": :delete, turbo_confirm: t("delete.delete_confirm") } %>
        </div>
      </div>
    </td>
    <td class="py-4 px-4 text-red-500 font-semibold text-sm">
      <%= convert_currency cart_item.product.price %>
    </td>
    <td class="py-4 px-4">
      <div class="flex items-center px-4 py-2">
        <button class="decrement-cart-item text-xl px-3 py-1 bg-gray-200 rounded" 
                data-url="<%= cart_item_path(cart_item) %>" data-method="patch">-</button>
        <span class="cart-items-quatity mx-2 text-lg w-12 text-center border border-gray-300 rounded px-2 py-1 bg-gray-100">
          <%= cart_item.quantity %>
        </span>            
        <button class="increment-cart-item text-xl px-3 py-1 bg-gray-200 rounded"
                data-url="<%= cart_item_path(cart_item) %>" data-method="patch">+</button>
      </div>
    </td>
    <td id="total-money-of-one-product" class="py-4 px-4 text-red-500 font-semibold text-sm">
      <%= convert_currency cart_item.product.price * cart_item.quantity %>
    </td>
    <td class="quantity-in-stock hidden" >
      <%= cart_item.product.quantity_in_stock %>
    </td>
  </tr>
<% end %>
