<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
    </div>
  </td>
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= link_to product.name, admin_product_path(product) %>
  </th>
  <td class="px-6 py-4">
    <%= product.category.name %>
  </td>
  <td class="px-6 py-4">
    <%= product.price %>
  </td>
  <td class="px-6 py-4">
    <%= product.quantity_in_stock %>
  </td>
  <td class="px-6 py-4">
    <%= product.delivery_quantity %>
  </td>
  <td class="px-6 py-4">
    <%= link_to t("edit"), edit_admin_product_path(product), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    <%= link_to t("delete.delete"), admin_product_path(product), data: { "turbo-method": :delete, turbo_confirm: t("delete.delete_confirm") }, class: "px-4 font-medium text-red-600 dark:text-red-500 hover:underline" %>
  </td>
</tr>
