<div class="overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex items-center pb-4 bg-white dark:bg-gray-900">
    <div>
      <div class="mt-1 gap-3 ml-4">
        <%= search_form_for @q, url: admin_products_path, method: :get do |f| %>
        <div class="flex gap-3">
          <div class="flex flex-col gap-3">
            <div class="flex gap-8">
              <%= f.search_field :search_all_text_cont, id: "table-search" ,
                class: "block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t("search.search") %>
              
              <%= f.select :category_name_cont, options_for_select(@category_names.unshift([t("all"), ""]), selected:
                params.dig(:q, :category_name_cont)), { include_blank: "Select a category" },
                class: "block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t("select_category") %>
            </div>

            <div class="flex gap-3">
              <%= f.number_field :price_cents_gteq,
                    class: "block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t("min_price") %>
          
              <span>-</span>
              <%= f.number_field :price_cents_lteq, class: "input-field" ,
                    class: "block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t("max_price") %>
            </div>
            
            <div class="flex gap-3">
              <%= f.date_field :created_at_gteq, id: "table-search" ,
                class: "block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t("create_day") %>
              <span>-</span>
              <%= f.date_field :created_at_lteq, id: "table-search" ,
                class: "block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t("create_day") %>
            </div>
          </div>
          <div>
            <%= f.submit t("search.search"), class: "text-white end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
          </div>
        </div>
      <% end %>
      </div>

      <%= form_with url: products_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Tìm kiếm sản phẩm" %>
  <%= form.text_field :query, value: params[:query] %>
  <%= form.submit "Tìm kiếm" %>
<% end %>

<h2>Kết quả tìm kiếm:</h2>
<% @products.each do |product| %>
  <div>
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <p>Giá: <%= product.price.format %></p>
  </div>
<% end %>
      
  </div>
  <button id="product-new" type="button" class="ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><%= t "products.create" %></button>
</div>

  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="p-4">
                  <div class="flex items-center">
                      <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="checkbox-all-search" class="sr-only">checkbox</label>
                  </div>
              </th>
              <th scope="col" class="px-6 py-3">
                <%= sort_link @q, :name, t("products.name") %>
              </th>
              <th scope="col" class="px-6 py-3">
                <%= sort_link @q, :category_name, t("products.category") %>
              </th>
              <th scope="col" class="px-6 py-3">
                <%= sort_link @q, :price_cents, t("products.price") %>
              </th>
              <th scope="col" class="px-6 py-3">
                <%= sort_link @q, :quantity_in_stock, t("products.quantity_in_stock") %>
              </th>
              <th scope="col" class="px-6 py-3">
                <%= sort_link @q, :delivery_quantity, t("products.delivery_quantity") %>
              </th>
              <th scope="col" class="px-6 py-3">
                <%= t "products.action" %>
              </th>
          </tr>
      </thead>
      <tbody>
        <%= render partial: "product", collection: @products %>
    </tbody>
</table>
<%== pagy_nav(@pagy) %>
</div>

<%= render "new_product" %>

<h1>hdkfhdsjkfhksd</h1>
