<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <img class="w-20 h-28 object-cover" src="<%= product.image_url %>" alt="<%= product.name %>">
  <div class="p-4">
    <div class="flex justify-between items-center">
      <span class="bg-red-500 text-white text-xs px-2 py-1 rounded"><%= product.discount %>%</span>
      <span class="line-through text-gray-500 text-sm">
        <%= t "products.original_price" %>: 
        <%= convert_currency product.price %>
      </span>
    </div>
    <%=link_to product.name, product_path(product), class: "text-xl font-bold mt-2"  %>
    <p class="text-green-600 text-lg mt-2">
      <%= t "products.price"  %>: 
      <%= convert_currency calculate_discounted_price(product.price, product.discount.to_f) %>
    </p>
    <%= form_with url: cart_items_path, method: :post, local: true do %>
      <%= hidden_field_tag :product_id, product.id %>
      <%= hidden_field_tag :quantity, 1 %>
      <button class="bg-green-600 text-white py-2 mt-4 rounded px-2"><%= t "products.add_to_cart" %></button>
    <% end %>
  </div>
</div>
