<header class="bg-gray-100 py-2">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center">
        <%= link_to products_path do %>
          <%= image_tag "logo.png", alt: t("logo.alt"), class: "w-10 h-10" %>
        <% end %>  
      <div class="ml-2">
        <span class="text-green-700 font-bold text-xl">Healthy Eat</span>
        <span class="block text-xs text-black"><%= t "vision" %></span>
      </div>
    </div>

  <%= form_for :search, url: products_path, method: :get, html: { class: "relative flex items-center" } do |f| %>
    <%= f.hidden_field :category_id, value: params[:search][:category_id] if params.dig(:search, :category_id).present? %>
    <%= f.hidden_field :price_min, value: params[:search][:price_min] if params.dig(:search, :price_min).present? %>
    <%= f.hidden_field :price_max, value: params[:search][:price_max] if params.dig(:search, :price_max).present? %>

    <%= f.search_field :query, placeholder: t("search.placeholder"), class: "w-full py-2 px-4 rounded-full bg-white border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-green-600", value: params.dig(:search, :query) %>
      <button type="submit" class="absolute right-2">
        <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </button>
  <% end %>

    <div class="flex space-x-4">
      <% if logged_in? %>
        <%= link_to carts_path, class: "flex items-center space-x-1 text-green-700" do %>
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h14M9 21h6a2 2 0 002-2v-7H7v7a2 2 0 002 2zM8 6h11M8 6H5l-1-2H3M13 3v4h5l-3 2H8l3-2V3" />
          </svg>
          <span><%= t "cart.cart" %></span>
        <% end %>

        <%= link_to "#", class: "flex items-center space-x-1 text-green-700" do %>
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 16v5a2 2 0 002 2h4a2 2 0 002-2v-5M16 3h5a2 2 0 012 2v12a2 2 0 01-2 2h-5M8 16v5a2 2 0 002 2h4a2 2 0 002-2v-5M8 3h5a2 2 0 012 2v12a2 2 0 01-2 2h-5M3 3v18a1 1 0 001 1h14a1 1 0 001-1V3" />
          </svg>
          <span><%= t "order.order" %></span>
        <% end %>

        <%= link_to orders_path, class: "flex items-center space-x-1 text-green-700" do %>
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17l4-4m0 0l4-4m-4 4v12M2 9a9 9 0 0118 0v6a9 9 0 01-18 0V9z" />
          </svg>
          <span><%= t "order_his" %></span>
        <% end %>

        <div class="relative inline-block text-left dropdown">
          <%= link_to "#", class: "flex items-center space-x-1 text-green-700", id: "account" do %>
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7M5 7h5m0 0v10" />
            </svg>
            <span><%= t "avatar" %></span>
            <svg class="h-4 w-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          <% end %>

          <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden group-hover:block" id = "dropdown-menu">
            <div class="py-1">
              <%= link_to t("view.sessions.profile"), current_user, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              <%= link_to t("view.sessions.settings"), "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              <%= link_to t("view.sessions.logout"), logout_path, data: { "turbo-method": :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to login_path, class: "flex items-center space-x-1 text-green-700" do %>
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12h3l-4-4m0 0l-4 4m4-4v12" />
          </svg>
          <span><%= t "view.layouts.header.login" %></span>
        <% end %> 
      <% end %>
    </div>
  </div>
</header>
