<!DOCTYPE html>
<html>
  <head>
    <title>Healthy Eat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen" >
    <%= render partial: "layouts/header" %>

    <main class="flex-grow">
      <div class="flex justify-end space-x-4">
        <%= link_to({ locale: :en }, class: "flex items-center px-4 py-2 bg-red-500 text-white font-semibold rounded hover:bg-red-600 mr-2") do %>
          <%= image_tag("en.png", class: "w-6 h-6 mr-2") %>
          English
        <% end %>        
        <%= link_to({ locale: :vi }, class: "flex items-center px-4 py-2 bg-green-500 text-white font-semibold rounded hover:bg-green-600") do %>
          <%= image_tag("vi.png", class: "w-6 h-6 mr-2") %>
          Vietnamese
        <% end %>      
      </div>

      <div class="container mx-auto p-4">
        <% flash.each do |message_type, message| %>
          <% alert_class = case message_type.to_sym
              when :notice then "bg-blue-100 border-blue-500 text-blue-700"
              when :alert then "bg-red-100 border-red-500 text-red-700"
              else "bg-gray-100 border-gray-500 text-red-700"
            end %>
          <div class="alert p-4 border-l-4 <%= alert_class %>"><%= message %></div>
        <% end %>
        <div class="flex w-screen">
          <div class="pl-4">
            <% if is_admin? %>
              <%= render "admin/home/index" %>
            <% end %>
          </div>
          <div class="w-5/6">
            <%= yield %>
          </div>

        </div>
      </div>
    </main>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
